*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Helvetica, sans-serif;
    color: #323232;
    border:none;
}
body{
    background-color: black;
}
div#interagir{
    background-color: rgb(71, 117, 192);
    left: 1000px;
    height: 70px;
}
button#interagir{
    right: 100px;
    margin-top: 20px;
    margin-left:500px;
}

div#calculadora{
    height: 240px;
    background-color: rgb(0, 153, 255);
    margin-top: 10px;
}

button{
    background-color: rgb(5, 76, 121);
    font-size: 20px;
    color: deeppink;
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
    width: 100px;
}

button#op{
    font-size: 30px;
}
input{
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    height: 30px;
    width: 100px;
}
input#number{
    font-size: 35px;
}
input#obs{
    width:800px;
    height: 30px;
    }
label{
    background-color: rgba(16, 209, 209, 0.39);
    color: rgb(255, 0, 0);
    font-size: 20px;
}
label#color{
    color: rgb(2, 88, 24);
    height: 3000px;
    width: 1000px;


}
label#informa{
    font-size: 35px;
    border: black;
    width: 1000px;
    height: 4000;
}