*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Helvetica, sans-serif;
    color: #323232;
    border:none;
}
body{
    background-color: rgb(58, 118, 214);
}
button{
    background-color: rgb(5, 76, 121);
    font-size: 20px;
    color: deeppink;
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    
}
button#op{
    font-size: 30px;
}
input{
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
    width: 100px;
}
input#obs{
    width:400px;
    height: 30px;
    }
label{
    background-color: rgba(16, 209, 209, 0.39);
    color: rgb(255, 0, 0);
    font-size: 20px;
}
label#color{
    color: rgb(2, 88, 24);
    width:400px;
    height: 3000px;
    width: 1000px;


}